* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
}
.header {
    background-color: #80C3B5;
    padding: 20px;
    text-align: center;
}
.section-two{
    margin-top: 10px;
}
.clear-fix {
    clear: both;
}
.content {
    background-color: #90A9AE;
    padding: 20px;
    height: 600px;
    width: 70%;
    float: left;
}
.aside {
    float: right;
    width: 30%;
    background-color: #D3C0B7;
    padding: 20px;
    height: 600px;
}
.box {
    float:left;
    background-color: #a29f87;
    padding: 10px;
    height: 150px;
    width: calc(25% - 7.5px);
    margin-right: 10px;
    margin-bottom: 10px;
}
.box:nth-child(4){
    margin-right: 0px;
}
.footer {
    height: 60px;
    background-color: #cdb0d0;
    text-align: center;
}

@media screen and (max-width: 768px){
    .content {
        width: 100%;
    }
    .aside{
        width: 100%;
    }
    .box {
        width: calc(50% - 5px);
    }
    .box:nth-child(2n){
        margin-right: 0px;
    }
}
@media screen and (max-width: 480px){
    .box{
        width: 100%;
        margin-right: 0px;
    }
}